@import '../mixin';

.footer {
  padding: 0 10%;
  background-color: var(--color-background);

  .container {
    margin-top: 1rem;
    border-top: 1px solid var(--color-linearB);
    border-bottom: 1px solid var(--color-linearB);
    padding: 3rem 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;
    @include _768 {
      grid-template-columns: 1fr;
      grid-gap: 0;
      padding: 1rem 2rem;
    }

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      @include _768 {
        margin-bottom: 2rem;
      }
    }

    .item {
      margin-top: 1rem;
      @include _768 {
        margin-top: 0;
      }
    }

    .upper {
      display: flex;
      align-items: center;
      padding: 1rem 0;
      font-size: 90%;
      color: var(--color-text);
      @include _768 {
        padding: 0.5rem 0;
      }

      span {
        margin-left: 1rem;
        opacity: 0.8;
      }
    }

    .lower {
      display: flex;
      align-items: center;
      margin-top: 2.5rem;
      font-size: 100%;
      color: var(--color-text);
      @include _768 {
        margin-top: 1rem;
      }

      span {
        opacity: 0.8;
      }

      img {
        margin-left: 1.5rem;
      }
    }
  }

  .about {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    font-size: small;
    @include _768 {
      display: block;
    }
    .left {
      display: flex;
      align-items: center;
      @include _768 {
        margin-bottom: 1rem;
      }

      span {
        padding: 0 1rem;
        color: var(--color-text);
        opacity: 0.8;
        width: 100%;
        text-align: center;
        @include _768 {
          @include truncate;
        }
      }
    }

    .right {
      @include _768 {
        display: flex;
        justify-content: center;
      }

      span {
        color: var(--color-text);
        opacity: 0.5;
        width: 300px;
      }
    }
  }
}