@mixin _1440 {
  @media (max-width: 1439px) {
    @content;
  }
}

@mixin _1024 {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin _768 {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin _576 {
  @media (max-width: 575px) {
    @content;
  }
}

@mixin _480 {
  @media (max-width: 479px) {
    @content;
  }
}

@mixin truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}