@use './color.scss' as *;

body[data-theme='light'] {
  --color-background: #{$white};
  --color-text: #{$dark};
  --color-btn: #{$dark};
  --color-hover: #{$main};
  --color-black: #{$black};
  --color-white: #{$white};
  --color-placeHolder: #{$placeholder};
}

body[data-theme='dark'] {
  --color-background: #{$dark};
  --color-text: #{$white};
  --color-btn: #{$main};
  --color-hover: #{$white};
  --color-black: #{$white};
  --color-white: #{$black};
  --color-placeHolder: #{$white};
}

body {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}