@import 'color.scss';

@mixin btn_style {
  width: 150px;
  height: 40px;
  border-radius: 6px;
  font-weight: bold;
}

.title {
  width: 520px;
  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    flex-direction: row;

    .point {
      font-family: 'Miniver', cursive;
      color: $main;
    }

    .line {
      width: 200px;
      height: 1px;
      border: 0;
      background-color: $main;
      margin-left: 10px;
    }
  }

  .main {
    font-size: 40px;
    font-weight: bold;
    color: $dark;
    font-family: 'Inter', sans-serif;
  }

  .sub {
    font-size: 16px;
    color: $placeholder;
    margin: 10px 0;
  }

  .btn {
    .singBtn {
      @include btn_style;
      border: 0;
      background-color: $dark;
      color: $white;
    }
    .singBtn:hover {
      border: 1px solid $dark;
      background-color: $white;
      color: $dark;
    }
    .chartBtn {
      @include btn_style;
      margin-left: 20px;
      border: 1px solid $dark;
      background-color: $white;
      color: $dark;
    }
    .chartBtn:hover {
      border: 0;
      background-color: $dark;
      color: $white;
    }
  }
}
