@import '../color';
@import '../mixin';

.container {
  width: 100%;

    .noteA {
      @include noteA;
    }
    .noteB {
      @include noteB;
    }
    .noteC {
      @include noteC;
    }

  .title {
    font-size: 30px;
    color: var(--color-text);
    font-weight: bold;
    margin: 50px 0;
    padding: 30px 0;
    border-bottom: 3px solid var(--color-text);
  }
}
