@import '../color';
@import '../mixin';

.swiper {
  width: 80%;
  margin: 0 auto;
  @include _576 {
    width: 90%;
  }

  .swiperSlide {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .topImg {
      background: var(--color-text);
      border-radius: 30px;
      @media screen and (max-width: 1250px) {
        display: none;
      }
    }
  }
}
