@import '../color';

.container {
  background: $dark;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .content {
    background: $white;
    width: 910px;
    height: 174px;
    margin: auto;
    text-align: center;
    font-size: 32px;
    border-radius: 10px;
    color: $dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    white-space: pre-wrap;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));

    .video {
      width: 910px;
      height: 174px;
      border-radius: 10px;
    }

    .discoA {
      position: absolute;
      top: 0px;
      left: 40px;
    }
    .discoB {
      position: absolute;
      top: 0px;
      right: 40px;
    }
    .mic {
      position: absolute;
      bottom: 0;
      left: 100px;
    }
    .speaker {
      position: absolute;
      bottom: 0;
      right: 100px;
    }
  }
  .timeLine {
    width: 90%;
    margin: 0 auto;
    height: 140px;
    .icon {
      float: right;
      margin-bottom: 8px;
      filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .bar {
      width: 100%;
      .input {
        width: 100%;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }
    .value {
      width: 100%;
      color: $white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .nextBtn {
      width: 124px;
      height: 37px;
      border-radius: 6px;
      font-size: 12px;
      font-family: 'Jalnan', sans-serif;
      margin-left: calc(50% - 62px);
      border: 0px;
      background: $main;
      color: $white;
      filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
      &:disabled {
        background-color: $disabled;
      }
    }
  }
}
