.canvas {
  background-image: url('../../public/img/room/order.svg');
  background-size: cover;
}

.btn {
  position: absolute;
  top: 480px;
  right: 100px;
  z-index: 30;
  width: 100px;
  background: #00aadf;
  border: 0px;
  border-radius: 6px;
  height: 30px;
  color: #fff;
  font-weight: bold;
}
