@import '../color';

.container {
  width: 95%;
  height: 35px;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  background-color: var(--color-background);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .reservList {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .reservIcon {
      filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.25));
    }
  }

  .closeIcon {
    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    width: auto;
    height: 35px;
  }
}
