@import '../color';

@mixin container {
  // background: var(--color-text);
  background: $black;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.modeScreen {
  @include container();
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 !important;
  .video {
    border-radius: 10px;
    width: 910px;
    height: 174px;
  }
}

.singerScreen {
  @include container();
  width: 350px;
  height: 350px;
  .video {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
}

.myScreen,
.otherScreen {
  @include container();
  width: 200px;
  height: 200px;
  .video {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
}
